html, body {
	height: 100%;
	width: 100%;
}

* {
	margin: 0px;
	padding: 0px;
}

@font-face
{
	font-family: ADAM;
	src: url(../fonts/ADAM.otf);
}

#name {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 0;
	background-image: url("../images/bg.png");
}

#info {
	top: 300px;
	width: 100%;
	padding: 10px;
	position: absolute;
	z-index: 1;
	background-color: #FEFEFE;	
	text-align: center;
}

.verzenden {
	background-color: #444349;
	color: #FEFEFE;
	padding: 11px 18px;
	font-weight: bold;
	font-size: 12px;
	height: 34px;
	cursor: pointer;
	border: medium none;
	margin: 0px;
	float: right;
	display: block;
	font-family: Arial;
	border-radius: 3px;
}

h1 {
	margin-top: 60px;
	text-align: center;
	color: #FEFEFE;
	font-family: ADAM;
	font-size: 70px;
}

h2 {
	font-size: 30px;
	color: #444349;
	font-family: ADAM;
}

p {
	font-family: Arial;
}

a {
	color: #3B579D;
}

a:hover {
	color: #3B579D;
}